GOOGLE_API_KEY=
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT="Langchain Course"
TAVILY_API_KEY=
PINECONE_API_KEY=
INDEX_NAME=
MEDIUM_BLOG_INDEX_NAME=
DOCUMENTATION_INDEX_NAME=